$gray_100:#f7fafc;
$gray_200:#edf2f7;
$gray_300:#e2e8f0;
$gray_400:#cbd5e0;
$gray_500:#a0aec0;
$gray_600:#718096;
$gray_700:#4a5568;
$gray_800:#2d3748;
$gray_900:#1a202c;

$light:#ffffff;
$dark:#000000;