.form_inline {
    width:100%;
    padding:$bv_2;
    border-radius:$bv_d5;
    fieldset {
        margin:0;
        padding:0;
        border:none;
        width:100%;
    }
    legend { margin-bottom:$bv_1; }
    .row {
        margin-bottom:$bv_1d5;
        display:flex;
        align-items:center;
    }
    .label { width: 40%; }
    .input { width: 60%; }
    label { 
        text-align:right;
        color: $gray_500;
        margin-right:$bv_1; 
        display:block;
    }
    input[type=text],
    input[type=email], {
        color: $gray_700;
        padding: $bv_d5 $bv_1;
        line-height:1.25;
        border-radius:$bv_d25;
        border:2px solid $gray_200;
        background-color:$gray_200;
    }
}