.button,
.button_small, 
.button_large {
    background-color:red;
    color:#fff;
    border-radius: .25rem;
    display:inline-block;
    border:1px solid red;
}
.button:hover {
    background-color:blue;
    border-color:blue;
}
.button {
    font-size:$base_value;
    padding-top:$base_value*0.75;
    padding-bottom:$base_value*0.75;
    padding-left:$base_value;
    padding-right:$base_value;
}
.button_small {
    font-size:$base_value*0.875;
    padding-top:$base_value*0.5;
    padding-bottom:$base_value*0.5;
    padding-left:$base_value*0.625;
    padding-right:$base_value*0.625;
}
.button_large {
    font-size:$base_value*1.25;
    padding-top:$base_value*0.9375;
    padding-bottom:$base_value*0.9375;
    padding-left:$base_value*1.875;
    padding-right:$base_value*1.875;
}
.button_shadow {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    border:1px solid #cbd5e0;
}
