
  .modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease;
    top: 0;
    left: 0;
    display: flex;
    // align-items: center;
    justify-content: center;
    z-index:1010;
    &.open {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
        .modal-bg {
            position: absolute;
            background: teal;
            width: 100%;
            height: 100%;
        }
        .modal-container {
            position: relative;
            max-width:600px;
            border-radius: 10px;
            background: #fff;
            padding: 30px;
            z-index:1011;
            margin-bottom:10vh;
            overflow-y: scroll;
            @include large-breakpoint {
                top:10vh;
                margin-bottom:0;
            }
        }
    }
    &-close {
      position: absolute;
      right: 15px;
      top: 15px;
      outline: none;
      appearance: none;
      color: red;
      background: none;
      border: 0px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  