body { font-family: $font-text; line-height:1; background:red; }

.wrapper { width:100%; margin:0 auto; max-width:100%; }
.content { 
    width:100%; margin:0 auto; ; 
    // &.wide { max-width:$wide_max_width; }
    // &.narrow { max-width:$narrow_max_width; }
}

// .content { 
//     p { 
//         margin-bottom:$bv_1;
//         padding:0 $bv_2;
//         a:link { color:$action_primary; }
//         a:visited { color:$action_primary; }
//         a:hover { color:$action_secondary; }
//         a:visited { color:$action_primary;  }
//     }
// }