/** SETUP **/
@import 'base/variables';
@import 'base/mixins';
@import 'base/normalize';
@import 'base/utilities';

/** CONFIG **/
.wrapper { width:100%; margin:0 auto; max-width:$max_width; }
.content { width:100%; margin:0 auto; max-width:$text_max_width; }
@import 'base/sizespaces';
@import 'base/colors';


/** COMPONENTS **/
@import 'components/buttons';
@import 'components/cards';
@import 'components/forms';

/** LAYOUT **/
@import 'header';
@import 'content';
@import 'desktop';

// general or special