$use_base__fonts: true;
$use_base__colors_grays:true;
$use_base__colors_neutrals:true;
$use_base__colors_wbs:true;
$use_base__colors_bws:true;

$use_custom__colors: false;
$use_custom__fonts: false;
$use_custom__mixins: false;
$use_custom__sizespaces: false;
$use_custom__text: false;
$use_custom__utilities: false;
$use_custom__variables: false;

